<!-- Header -->
<style>
    body{
      background:#fff; color:#000;
    }
</style>
<div class="container-fluid thankyouheaderbg">
  <div class="row">
    <div class="container">
      <div class="col-md-6 col-xs-12 leftbox" style="padding-top:15px;">  

      </div>		
      <div class="col-md-5 col-xs-12 rightbox">  
        <p class="title-thankyou">Thank you for signing up!</p>
				<p class="title2-thankyou">Invite a friend & earn products</p>   
        <p class="subtitle-thankyou">Share your unique link below via email or social media to earn free products depending on how many friends enter their email address.</p>                                                   
        <p class="share-link">
          <input class="input" id="share-link" type="text" value="<%= root_url %>?ref=<%= @user.referral_code %>" readonly><button class="btn-copy" onclick="copy()">COPY</button>
        </p>
        <p class="social-share">
          <% twitter_message = "Earn: Lorem ipsum dolor sit amet, consectetur adipiscing elit." %>  
          <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=OA" target="_blank"><img src="<%= asset_path('logo-fb.svg') %>" alt="Share on Facebook" /></a> 
          <!--<a target="_blank" href="https://www.instagram.com/"><img src="/assets/logo-in.svg" alt="Share on Instagram"></a>-->
          <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" target="_blank"><img src="<%= asset_path('logo-twitter.svg') %>" alt="Share on Twitter" /></a>
        </p>                              
      </div>                       
    </div>		
  </div>
</div>
<!-- Header End -->

<!-- Steps Start -->
<div class="container-fluid">
	<div class="container steps">
		<div class="row">
			<h2 class="steps-header text-center">HERE’S HOW IT WORKS</h2>
		</div>
		<div class="row steps-body">
			<div class="col-md-3 text-center step">
				<img class="step-img" src="/assets/001-support.svg" alt="5 FRIENDS">
				<div class="step-body">
					<h2 class="step-title">5 FRIENDS</h2>
					<p class="step-content">Free Wipes</p>
				</div>
			</div>
			<div class="col-md-3 text-center step">
				<img class="step-img" src="/assets/002-team.svg" alt="10 FRIENDS">
				<div class="step-body">
					<h2 class="step-title">10 FRIENDS</h2>
					<p class="step-content">Free Glacier Deo</p>
				</div>
			</div>    
			<div class="col-md-3 text-center step">
				<img class="step-img" src="/assets/003-community.svg" alt="15 FRIENDS">
				<div class="step-body">
					<h2 class="step-title">15 FRIENDS</h2>
					<p class="step-content">Free Deo Kit</p>
				</div>
			</div>   
			<div class="col-md-3 text-center step">
				<img class="step-img" src="/assets/004-team-1.svg" alt="20 FRIENDS">
				<div class="step-body">
					<h2 class="step-title">20 FRIENDS</h2>
					<p class="step-content">$50 Gift Card & Year Supply of Deo</p>
				</div>
			</div>  
		</div>
	</div>  
</div>
<div class="container-fluid concrete-wall-bg">
	<div class="container steps">
		<div class="row">
			<%
				words = ''
				referrals_count = @user.referrals.count
				if referrals_count == 1
					words = 'friend has'
				elsif
					words = 'friends have'
				end
			%>
			<% if referrals_count == 0 %>
				<h2 class="step-title">No friends have joined...Yet!</h2>
			<% else %>
				<h2 class="step-title"><%= referrals_count %> <%= words %> joined</h2>
			<% end %>        
		</div>			
	</div>
</div>
<!-- Steps End -->

<script>
function copy() {
  /* Get the text field */
  var copyText = document.getElementById("share-link");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied to clipboard: " + copyText.value);
}
</script>