<div class="thankyouheaderbg  d-flex align-items-center">
	<div class="container">
		<div class="row d-flex justify-content-end">
			<div class="col-xs-12 col-lg-7 d-flex align-items-center leftbox">
				<img src="/assets/oa-dopp-products.png" srcset="/assets/oa-dopp-products@2x.png 2x">
			</div>
			<div class="col-lg-5 col-xs-12 rightbox">
				<p class="title2-thankyou">Thank you for signing up!</p>
				<p class="title-thankyou">Invite friends<br>& earn products</p>
				<p class="subtitle-thankyou">Share your unique link below via email or social media to earn free products
					depending on how many friends enter their email address.</p>
				<p class="share-link">
					<input class="input" id="share-link" type="text" value="<%= root_url %>?ref=<%= @user.referral_code %>" readonly><button class="btn-copy" onclick="copy()">COPY</button>	
				</p>
				<p class="social-share">
					<% twitter_message = "Natural, Moisturizing, and Hydrating products to leave you feeling rejuvenated and refreshed." %>  
					<a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=OA" target="_blank"><img src="<%= asset_path('logo-fb.svg') %>" alt="Share on Facebook" /></a> 
					<a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" target="_blank"><img src="<%= asset_path('logo-twitter.svg') %>" alt="Share on Twitter" /></a>
				</p> 
			</div>
		</div>
	</div>
</div>
<!-- Steps Start -->
<div class="container steps">
	<div class="row justify-content-center">
		<h2 class="steps-header text-center">HERE’S HOW IT WORKS</h2>
	</div>
	<div class="row justify-content-center steps-body">
		<div class="col-sm-6 col-lg-4 step">
			<div class="step-container">
				<img class="step-img" src="/assets/1.png" srcset="/assets/1@2x.png 2x" alt="3 FRIENDS">
				<div class="step-body">
					<h2 class="step-title">3 FRIENDS</h2>
					<p class="step-content">Sampler Set: 1 Shine-Free, Ultra-Hydrating Lip Balm, 1 Mini Face + Eye Cream, 2
						Cooling + Cleansing Wipes</p>
				</div>
			</div>

		</div>
		<div class="col-sm-6 col-lg-4 step">
			<div class="step-container">
				<img class="step-img" src="/assets/2.png" srcset="/assets/2@2x.png 2x" alt="6 FRIENDS">
				<div class="step-body">
					<h2 class="step-title">6 FRIENDS</h2>
					<p class="step-content">Natural Deodorant<br>(California Coast scent)</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-4 step">
			<div class="step-container">
				<img class="step-img" src="/assets/3.png" srcset="/assets/3@2x.png 2x" alt="9 FRIENDS">
				<div class="step-body">
					<h2 class="step-title">9 FRIENDS</h2>
					<p class="step-content">Best Sellers Kit: Natural Deodorant (California Coast scent) + Wake Up Eye Stick</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-4 step">
			<div class="step-container">
				<img class="step-img" src="/assets/4.png" srcset="/assets/4@2x.png 2x" alt="12 FRIENDS">
				<div class="step-body">
					<h2 class="step-title">12 FRIENDS</h2>
					<p class="step-content">Deo Trio Kit: 3 Natural Deodorants (California Coast, Fresh Ocean Splash, Eucalyptus
						Spearmint)</p>
				</div>
			</div>
		</div>
		<div class="d-none d-sm-block col-sm-6 col-lg-4 text-center step space">
			<img src="/assets/5-1.png" srcset="/assets/5-1@2x.png 2x">
		</div>
		<div class="col-sm-6 col-lg-4 step">
			<div class="step-container">
				<img class="step-img" src="/assets/6.png" srcset="/assets/6@2x.png 2x" alt="20 FRIENDS">
				<div class="step-body">
					<h2 class="step-title">20 FRIENDS</h2>
					<p class="step-content">1-year Supply of Natural Deodorant (6) + Face Kit (Face + Eye Cream, Wake Up Eye
						Stick, Charcoal Solid Face Wash)</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-8 info-extra">
			<p class="step-content info-extra-text text-center">It's as easy as sending out a quick email with your custom
				link to a few friends or sharing on social using the links above. Each one of your referrals that comes to the
				site and enters their email will give you credit towards the above milestones.</p>
		</div>
	</div>
	<div class="row justify-content-center steps-body">
		<%
			words = ''
			referrals_count = @user.referrals.count
			if referrals_count == 1
				words = 'friend has'
			elsif
				words = 'friends have'
			end
		%>
		<% if referrals_count == 0 %>
			<h2 class="step-title">No friends have joined...Yet!</h2>
		<% else %>
			<h2 class="step-title"><%= referrals_count %> <%= words %> joined</h2>
		<% end %>        
	</div>		
</div>
<!-- Steps End -->
<div class="footer">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5 col-xs-12">

				<p class="title2-thankyou">INVITE FRIENDS & EARN PRODUCTS</p>
				<p class="share-link">
					<input class="input" id="share-link" type="text" value="<%= root_url %>?ref=<%= @user.referral_code %>" readonly><button class="btn-copy dark-blue" onclick="copy()">COPY</button>	
				</p>
				<p class="text-share">SHARE ON SOCIAL</p>
				<p class="social-share">
					<% twitter_message = "Natural, Moisturizing, and Hydrating products to leave you feeling rejuvenated and refreshed." %>  
					<a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=OA" target="_blank"><img src="<%= asset_path('logo-fb.svg') %>" alt="Share on Facebook" /></a> 
					<a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" target="_blank"><img src="<%= asset_path('logo-twitter.svg') %>" alt="Share on Twitter" /></a>
				</p>
				<div class="text-center">
					<%= link_to 'Privacy & Terms', "https://www.oarsandalps.com/pages/privacy", target: '_blank', class: "privacy-link" %>
				</div>									
			</div>
		</div>
	</div>
</div>
<script>
function copy() {
  /* Get the text field */
  var copyText = document.getElementById("share-link");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied to clipboard: " + copyText.value);
}
</script>